<section>

  <h3 id="about-me">About</h3>



  <nav class="lang-lockup">
    {% for item in site.data.settings.lang-menu %}
      <span class="{{ item.class}}">{{ item.name }}</span>
    {% endfor %}
  </nav>



  <div class="language english" >
    {{ site.data.settings.blurbEN | markdownify }}
  </div>
  <div class="language japanese" >
    {{ site.data.settings.blurbJP | markdownify }}
  </div>
  <div class="language korean" >
    {{ site.data.settings.blurbKR | markdownify }}
  </div>

</section>
