<header id="header">
	<div class="container">
		<video autoplay ="true" loop muted>
		  <source src="/assets/video/websiteBGvid.mp4" type="video/mp4">
		  <source src="/assets/video/websiteBGvid.webm" type="video/webm">
		</video>
		<div class="text">
			<nav>
				{% for item in site.data.settings.menu %}
				  <a href="{{ item.url }}">{{ item.name }}</a>
				{% endfor %}
			</nav>
			<h1><span>{{ site.data.settings.title }}</span></h1>
			<p class="kicker">{{ site.data.settings.description }}</p>
		</div>
	</div>
</header>
